﻿@model OrderModel

<div class="card">
    <div class="card-body">

        @switch (Model.Status)
        {
            case "Created":
                <h4 class="card-title">@Model.Description <span class="badge badge-secondary">@Model.Status</span></h4>
                @foreach (var alteration in Model.Alterations)
                {
                    <h6 class="card-title">Shorten @alteration.Side @alteration.Type for @alteration.Amount cm.</h6>
                }

                break;

            case "Paid":
                <h4 class="card-title">@Model.Description <span class="badge badge-success">@Model.Status</span></h4>
                @foreach (var alteration in Model.Alterations)
                {
                    <h6 class="card-title">Shorten @alteration.Side @alteration.Type for @alteration.Amount cm.</h6>
                }

                <a href="/Order/UpdateStatus/@Model.Id?status=InProcess" class="btn btn-primary">Take</a>
                break;
            case "InProcess":
                <h4 class="card-title">@Model.Description <span class="badge badge-warning">@Model.Status</span></h4>
                @foreach (var alteration in Model.Alterations)
                {
                    <h6 class="card-title">Shortening @alteration.Side @alteration.Type for @alteration.Amount cm.</h6>
                }

                <a href="/Order/UpdateStatus/@Model.Id?status=Done" class="btn btn-primary">Finish</a>
                break;
            case "Done":
                <h4 class="card-title">@Model.Description <span class="badge badge-info">@Model.Status</span></h4>
                @foreach (var alteration in Model.Alterations)
                {
                    <h6 class="card-title">@alteration.Side @alteration.Type was shorten by @alteration.Amount cm.</h6>
                }
                break;
        }

    </div>
</div>