﻿@using SuitShop.Web.Models
@model IEnumerable<OrderModel>
@{
    ViewData["Title"] = "Suit Shop";
}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Order/Index">All</a>
            <a class="dropdown-item" href="/Order/Index?filter=Created">Created</a>
            <a class="dropdown-item" href="/Order/Index?filter=Paid">Paid</a>
            <a class="dropdown-item" href="/Order/Index?filter=InProcess">InProcess</a>
            <a class="dropdown-item" href="/Order/Index?filter=Done">Done</a>
        </div>
    </div>

    <a class="btn btn-success" href="/Order/NewOrder" role="button">Create Order</a>
</div>

@foreach (var order in Model)
{
    @await Component.InvokeAsync("DisplayOrder", new { order = order })
}
