﻿<form method="post">
    <div class="form-group">
        <label>Description</label>
        <input class="form-control form-control-lg" type="text" placeholder="Description" name="Description">
    </div>

    <label>Alterations</label>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Left Sleeve</span>
                    </div>

                    <select class="custom-select" name="LeftSleeve">
                        <option selected value="0">No alteration</option>
                        <option value="1">1 cm</option>
                        <option value="2">2 cm</option>
                        <option value="3">3 cm</option>
                        <option value="4">4 cm</option>
                        <option value="5">5 cm</option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Right Sleeve</span>
                    </div>
                    <select class="custom-select" name="RightSleeve">
                        <option selected value="0">No alteration</option>
                        <option value="1">1 cm</option>
                        <option value="2">2 cm</option>
                        <option value="3">3 cm</option>
                        <option value="4">4 cm</option>
                        <option value="5">5 cm</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Left Trouser</span>
                    </div>
                    <select class="custom-select" name="LeftTrouser">
                        <option selected value="0">No alteration</option>
                        <option value="1">1 cm</option>
                        <option value="2">2 cm</option>
                        <option value="3">3 cm</option>
                        <option value="4">4 cm</option>
                        <option value="5">5 cm</option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Right Trouser</span>
                    </div>
                    <select class="custom-select" name="RightTrouser">
                        <option selected value="0">No alteration</option>
                        <option value="1">1 cm</option>
                        <option value="2">2 cm</option>
                        <option value="3">3 cm</option>
                        <option value="4">4 cm</option>
                        <option value="5">5 cm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>